  <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>About</h1>
                    <p> Using this website you can upload your farmers market</p>
                    <p> You can display your speacialities you have at a farmer market</p>
                    <p> You can add the how much one can expect to spend</p>
                    <p>And one can donate </p>  
                </div>
            </div> 
    </section> 
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Donate</strong>
                                </h4>
                                <p>Learn how you can donate and help our community</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Dollar Signs</strong>
                                </h4>
                                <p>What amounts indicate the amount of dollars signs</p>
                                 <%=link_to "Learn More",farmers_dollars_path, class:"btn btn-light"%>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Weather</strong>
                                </h4>
                                <p>Weather function allows you be prepared</p>
                                
                                <%=link_to "Learn More",farmers_weather_path, class:"btn btn-light"%>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

  <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Contact</h1>
                    <ul class="list-unstyled">    
                      <h4><strong>Farmer Market</strong>
                    </h4>
                    <p>
                      San Francisco
                      <br> Farmers Market 123 lane
                    </p>
                        <li>
                        <a href="https://github.com/rafeeq-123" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>


                        </li>
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:rafeeqwilson914@gmail.com">rafeeqwilson914@gmail.com</a>
                    
                    </ul>
                    <br>
                    <ul class="list-inline">
                </div>
            </div> 
    </section> 
    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside>
