<div class="text-center">
<h1><u>Dollar Signs</u></h1>
<p>We have set up a few conventions farmer market creators should know how to use</p>
<p>Knowing the price range and how many dollar signs it creates is important!</p>
<div>
  <h2>$ = 1-20</h2>
  <h2>$$ = 20-35</h2>
  <h2>$$$ = 35-50</h2>
  <h2>$$$$ = 50+</h2>
  <p>These guidelines should help you inform your customers</p>
  <p>If your price cannont be represented above it will just show the numbers</p>    
</div>
</div>