<div class="text-center">
<h1><u>Dollar Signs</u></h1>
<p>We have set up a few conventions farmer market creators should know how to use</p>
<p>Knowing the price range and how many dollar signs it creates is important!</p>
<div>
  <h2>$ = 5-15</h2>
  <h2>$$ = 15-25</h2>
  <h2>$$$ = 25-35</h2>
  <h2>$$$$ = 35 +</h2>
  <p>These guidelines should help you inform your customers</p>
      
</div>
</div>